<%- include("partials/header") %>

<div class="container">
	<h1>Login page</h1>
	<form action="/login" method="POST">
		<input type="text" name="username" value="" placeholder="username">
		<input type="password" name="password" value="" placeholder="password">
		<input type="submit" name="" value="Login">
	</form>
</div>

<%- include("partials/footer") %>
